@import "../../styles/colores.scss";
@import "../../styles/mixins";

.input--select {
  position: relative;
  width: 100%;
  & + .input--select {
    margin-top: 16px
  }
  label {
    @include styleRoboto(12px, 400, 16px);
    color: $Gray-3;
    position: absolute;
    top: 8px;
    left: 16px;
  }
  select {
    @include styleLato(16px, 400, 24px);
    border: 1px solid #C5CBE0;
    border-radius: 4px;
    color: $Gray_1_Titulos;
    padding: 24px 16px 8px;
    width: 100%;
    &:focus {
      border: 1px solid #828282;
    }
  }
}


