@import "./Roboto";

@import "./estilos-fuentes";

@import "./colores";

@import "./Button";

body {
  overflow-x: hidden;

  a:not([href]):not([class]) {
     color: $color-purple;
    text-decoration: unset;
  }
}
